{% extends "base.html" %}
{% block title %} 首页 {% endblock %}

{% block content %}
<div class="container text-center">
    <h3> 欢迎访问小站 ! </h3>

    <div class="container text-start">
        <form method="post" action="{{ url_for("base.add_rule_page") }}" class="was-validated">
            {{ form.hidden_tag() }}
            {{ render_select_field(form.method) }}
            {{ render_field(form.address) }}
            {{ render_bool_field(form.no_resolve) }}

            <div class="text-end">
                {{ form.submit(class='btn btn-success me-2') }}
            </div>
        </form>

        <div class="text-center mt-5">
            <div class="btn-group">
                <a class="btn btn-danger" href="{{ url_for("base.remote_refresh_page") }}"> 远程刷新 </a>
                <a class="btn btn-primary" href="{{ url_for("base.refresh_page") }}"> 本地刷新 </a>
                <a class="btn btn-success" href="{{ url_for("base.download_page") }}"> 下载配置 </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}